HOMEPAGE

<div class="span14">


      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-left" <%= image_tag "braintrade_logo.png" %>
        <h2 class="featurette-heading">Mission. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <br><br><br><br>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="http://www.michaeljohngrist.com/wp-content/uploads/2012/02/fighting-kittens-140x140.jpg">
        <h2 class="featurette-heading">Friggin amazing. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <br><br><br><br>


      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="http://www.merci-merci.com/media/catalog/product/cache/2/image/224x/9df78eab33525d08d6e5fb8d27136e95/h/5/h56200533-1.jpg">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <br><br><br><br>
