<!-- <div class="span25">
 -->  
      <div class="featurette">
      
        <img class="featurette-image pull-center" <%= image_tag "braintrade_logo.png", :class => "logo"%> <p></p>
       <p>&nbsp</p>
        <h2 class="featurette-heading pull-center"> Our Mission: <span class="muted">Spreading Knowledge.</span></h2>
        <p class="lead pull-center">BrainTrade is a peer learning network that allows you to find someone by topic expertise and make a connection. </p>
        <p>&nbsp</p>

        <p>

          <div class="buttons" style="float: left;">
            <%= link_to 'Learn Now', {:controller => 'categories', :action => 'index'}, :class => 'btn btn-large btn-primary' %>
          </div>
          <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
          <div class="buttons" style="float: left; margin-left: 10px;">
            <%= link_to 'Sign Up to Learn', new_user_path, :class => 'btn btn-large btn-primary' %>
          </div>
        

<!--           <button class="btn btn-large btn-primary" type="button"><a href="/categories">Sign Up to Teach</button></p>
 -->        <br>
      </div>
     

      <hr class="featurette-divider">

      <div class="featurette">
        <br>
        <img class="featurette-image pull-right" src="http://4.bp.blogspot.com/-L-yL33_GS1A/URo-1UGwlnI/AAAAAAAAGaU/nz36juAI9rI/s1600/psy+management.jpg">
        <h2 class="featurette-heading">Trade expertise. <span class="muted">Teach to learn.</span></h2>
        <p class="lead"> Earn credits teaching others and use your credits to learn something new from someone else. For example, teach an hour of physics to another BrainTrade user and earn one hour of learning art from another BrainTrade user.  It's that simple. </p>

      </div>
      <br><br>
            <hr class="featurette-divider">

           <div class="featurette">
        <br><br>
        <img class="featurette-image pull-left" src="http://timesharetimes.net/wp-content/uploads/2013/09/free-eagle-picture_1366x768_3415.jpg">
        <h2 class="featurette-heading">It's free. <span class="muted"> Unlike evil capitalist Skillshare</span></h2>
        <p class="lead">Hear this village people of the Internet. SkillShare tramples upon the needy, and would bring the poor of the land to an end. Use thy golden brains and use BrainTrade.</p>
      </div>
       <br><br><br><br>


      <hr class="featurette-divider">

<!--       <div class="featurette">
 -->        <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      
        <p class="team">Developer Team</p>
        
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/63277f76f4f31af8f49854d8bbabca1c.png?r=PG&d=mm&s=150">
            <h2>Meara Charnetzki</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/meara" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/f5054d4a67c382441e2310b819dc4f76.png?r=PG&d=mm&s=150">
            <h2>Elaine Yu</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/ElaineYu" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/1c1554dd3fc1d0048480a4da4141ab57.png?r=PG&d=mm&s=150">
            <h2>Connor McCrone</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/conman246" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/fafc1809e562d6595ceb93026cfd1add.png?r=PG&d=mm&s=150">
            <h2>Oliver Francescatti</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/obf73" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
      <hr class="featurette-divider">

      <br><br><br><br>
  </div>
<!-- </div>
 --><!-- </div> -->

