<!-- <div class="span25">
 -->  
      <div class="featurette">
        <br><br>
        <img class="featurette-image pull-left" <%= image_tag "braintrade_logo.png", :class => "logo"%> 
        <h2 class="featurette-heading">Our Mission: <span class="muted">Spreading Knowledge.</span></h2>
        <p class="lead">BrainTrade is a peer learning network that allows users to find someone with expertise in a topic they’re interested in and make a connection. If I’m great at physics, but want to learn how to draw, I could search BrainTrade for someone who’s good at art to tutor me. I would “pay” for these lessons by tutoring someone else in something I am good at, for example physics.</p>
        <br><br><br><br><br><br>
      </div>
      <br><br><br><br>

      <hr class="featurette-divider">

      <div class="featurette">
        <br><br><br>
        <img class="featurette-image pull-right" src="http://4.bp.blogspot.com/-L-yL33_GS1A/URo-1UGwlnI/AAAAAAAAGaU/nz36juAI9rI/s1600/psy+management.jpg">
        <h2 class="featurette-heading">Trading expertise: <span class="muted">Teach to learn.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <br><br><br><br>


      <hr class="featurette-divider">

<!--       <div class="featurette">
 -->        <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      
        <p class="team">Developer Team</p>
        
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/63277f76f4f31af8f49854d8bbabca1c.png?r=PG&d=mm&s=150">
            <h2>Meara Charnetzki</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/meara" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/f5054d4a67c382441e2310b819dc4f76.png?r=PG&d=mm&s=150">
            <h2>Elaine Yu</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/ElaineYu" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/1c1554dd3fc1d0048480a4da4141ab57.png?r=PG&d=mm&s=150">
            <h2>Connor McCrone</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/conman246" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/fafc1809e562d6595ceb93026cfd1add.png?r=PG&d=mm&s=150">
            <h2>Oliver Francescatti</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/obf73" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
      <hr class="featurette-divider">

      <br><br><br><br>
  </div>
<!-- </div>
 --><!-- </div> -->

