<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Congratulations, <%= @learner.first_name %>! <%= @teacher.first_name %> has accepted your learning request.</h2>
     <h3><p>To choose an available time, please visit this link: <%= @meetup_link %></p></h3>

     <%= image_tag attachments.inline['braintrade_logo.png'].url, :size => "250x250"%>
  </body>
</html>
