<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @learner.first_name %>.</h2>
    <h3><p>Unfortunately, <%= @teacher.first_name %> is really swamped right now and cannot accept your learning request.</p></h3>
     <h3><p>Sorry about that.  To find another learning opportunity, check out our current available offerings: <%= @learn_link %></p></h3>

     <%= image_tag attachments.inline['braintrade_logo.png'].url, :size => "250x250"%>
  </body>
</html>
