<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to BrainTrade, <%= @user.first_name %>!</h3>
    <p>
      To visit to the site, just follow this link: braintrade.herokuapp.com %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

    <%#= image_tag attachments['braintrade_logo.png'].url %>
  </body>
</html>
