<%= form_for @meetup,  url: {action: "update"} do |f| %>
<h3>Please select one of these dates</h3>
<% @times = @times.map { |time| time.strftime('%A, %B %d at %I:%M %p') } %>
<%= f.collection_select :date_time, @times, :to_s, :to_s %>
<%= f.hidden_field :step, :value => 2 %>
<%= f.submit "Select Time" %>
<% end %>
