

.navbar .nav > li > a {
  &.brand {
    color: green;
  }
}

.btn.btn-large.btn-primary {
  color: white;
}


.featurette-image.pull-center  {
  max-width: 30%;
  float:left;
  padding-right: 50px;
  
}
.featurette-image.pull-left  {
  max-width: 40%;
  float:left;
  padding-right: 50px;
  
}
.featurette-image.pull-left  {
  
  max-width: 30%;
  float:left;
  padding-left: 50px;
}

.team {
  text-align: center;
  font-size:  300%;
  font-weight: bold;
  margin-top:  20px;
  margin-bottom:  20px;
  padding-bottom: 40px;
}

.marketing {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 100px;

}

.col-lg-4 {
  width: 20%;
  float:left;
  padding: 10px;
  text-align:center;
}

div {
display: block;
}

.icon-star {
  color: gold;
}

.btn {
  color: black;
  float:center;
}

.profile_info_container { 
  font-size: 11pt;  
  font-family: 'PT Sans', Arial, sans-serif;  
  font-weight: bold; 
  display: inline; 
  float: right;
  height: 300px;
  /*background-color: orange;*/
  width:48%;
}

.picture_container {
  /*background-color: green;*/
  height: 300px;
  width: 48%;
  float: left;
  
}

.clear {
  clear:both;
}
.thigs_i_teach {
  /*background-color: yellow;*/
  float: bottom;

}

nav li {
  width: 50%;  
  float: left;  
  position: relative;  
}



#credits {

}
