.zocial:before {
content: "";
border-right: 0.075em solid rgba(0,0,0,0.1);
float: left;
font: 120%/1.65 zocial;
font-style: normal;
font-weight: normal;
margin: 0 0.5em 0 0;
padding: 0 0.5em;
text-align: center;
text-decoration: none;
text-transform: none;
-moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
-webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
}

.zocial.googleplus:before {
content: "+";
}

.zocial.googleplus {
background-color: #dd4b39;
}

body .zocial {
margin: 8px 4px;
font-size: 13px;
}

.zocial, a.zocial {
  border: 1px solid #777;
  border-color: rgba(0,0,0,0.2);
  border-bottom-color: #333;
  border-bottom-color: rgba(0,0,0,0.4);
  color: #fff;
  -moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  cursor: pointer;
  display: inline-block;
  font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
  padding: 0 .95em 0 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
}

.request_container {
  width: 1000px;
  padding-left: 100px;
}

#teach_title {
  color: #F69261;
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  padding-top: 30px;
}

#learn_title {
  color: #F69261;
}

.learning_requests {
  border-radius: 5px;
  float: left;
  width: 400px;
  color:#181242;
}

.teaching_requests {
  border-top: solid;
  float: left;
  color: #181242;
}


.btn.btn-medium.btn-primary a {
  color: white;
  width: 10px;
}

.btn {
  color: black;
  float:center;
  width: 161px;
  color: #87C440;
}

.icon-star {
  color: gold;
}


#bio_info {
  width:370px;
  padding-bottom: 100px;
  border-width: 1px;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-width: 1px;
  color: #181242;
  border-color: #181242;
}

.top_container {
  width:900px;
}
.profile_info_container { 
  font-size: 11pt;  
  font-weight: bold; 
  display: inline; 
  height: 1205px;
  float:left;
  width:425px;
  padding-right: 80px;
  padding-top: 10px;
  border-width: 1px;
  border-width: 1px;
  padding-left: 80px;
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #eeeeee;
}

.picture_container {
  float:left;
  height: 300px;
  width: 200px;
  padding-right: 48px;
}

.thigs_i_teach {
  float: left;
  width: 250px;
  
}

#teach_name {
  list-style-type: none;
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 19px;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  display: inline;
  padding-right: 10px;
}

#subject_grouping {
  width: 300px;
  height: 100px;
}

#teach_name a {
  color: #5752A3;
}

#teach_name a:hover {
  color: #F69261;
}

.clear {
  clear:both;
}

 a.btn-success{
  color:white;
}

#teach_button  {
  background-color: white;
}

.profile_name {
  font-family: futura;
  color: #181242;
  border-bottom: solid;
  border-color: #181242;
  border-width: 1px;
  font-weight: bold;
}

.gravatar {
  border-top: solid;
  border-width: 4px; 
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-color: #181242;
}

#credits {
  width: 148px;
}

.bottom_container {
  width: 150px;
  height: 400px;
}

.edit_button_profile {
  color: #0088cc;
  width:15px;
  padding-top: 40px;
  padding-left: 13px;
}

a.btn.btn-link {
  color:#0088cc;
  padding-top: 20px;
  float: left;
  width: 0px;
}

#copyright {
  float: bottom;
}

.teaching_button {
  height: 45px;
}

h4 {
  padding-top: 30px;
}

#user_first_name {
  z-index: 2;
  position: relative;
}
#user_last_name {
  z-index: 1;
  position: relative;
}
#user_email {
  z-index: 1;
  position: relative;
}
#user_bio {
  z-index: 1;
  position: relative;
}
#user_password {
  z-index: 1;
  position: relative;
}
#user_password_confirmation {
  z-index: 1;
  position: relative;
}




