<h1>Browse Learning Topics By Category:</h1>

<% @categories.each do |category| %>
  <ul>
    <li><a href="/categories/<%=category.id%>"><%= category.name %></a></li>
  </ul>
<% end %>

<!-- Bootstrap classes not working? Not sure why. -->
