<h1>Browse Learning Topics By Category:</h1>

<% @categories.each do |category| %>
  <ul>
     <li><%= link_to category.name, category_path(category.id), :remote => true, class: "categories" %></li>
  </ul>
<% end %>

<!-- Bootstrap classes not working? Not sure why. -->
